// ion-button {
//   --color: var(--ion-color-warning);
//   --border-radius: 5px; /* remove button border radius */
//   --background: transparent; /* remove button background color */
//   --min-height: 0; /* remove button min-height */
//   font-size: 14px; /* set button text font size */
//   margin: 0; /* remove button margin */
//   height: 50px; /* set button height to 50 pixels */
// }

.black-container {
  background-color: var(--ion-background-color);
  position: absolute;
  bottom: calc(var(--ion-safe-area-bottom) + 10vh);
  left: 0;
  right: 0;
  top: calc(var(--ion-safe-area-bottom) + 61vh);
  overflow: scroll;
}

.img-container {
  height: calc(var(--ion-safe-area-bottom) + 40vh);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  border-radius: 15px;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(191, 191, 0);
  margin-top: 5vh;
  position: relative;
}
