<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-col>
      <ion-title color="warning" size="medium">
        Edit Image
      </ion-title>
    </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="img-container">
    <ion-img #imageEdit [src]="myImage" *ngIf="myImage" style="height: 100%; width: 100%;"
      (click)="openImageModal(myImage)"></ion-img>
  </div>

  <ion-segment [scrollable]="true" value="invert" color="warning" style="position: relative;">
    <ion-segment-button value="invert" (click)="setFilter()">
      Invert
    </ion-segment-button>
    <ion-segment-button value="free" (click)="setFilter()">
      Free
    </ion-segment-button>
    <ion-segment-button value="charm" (click)="setFilter()">
      Charm
    </ion-segment-button>
    <ion-segment-button value="blackAndWhite" (click)="setFilter()">
      Black & White
    </ion-segment-button>
  </ion-segment>

  <div color="dark" #blackContainer class="black-container">

    <ion-range min="0" max="100" step="1" value="50" snaps="true" pin="true" color="warning">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>

    <ion-range min="0" max="100" step="1" value="50" snaps="true" pin="true" color="warning">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>

    <ion-range min="0" max="100" step="1" value="50" snaps="true" pin="true" color="warning">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>

    <ion-range min="0" max="100" step="1" value="50" snaps="true" pin="true" color="warning">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>

    <ion-range min="0" max="100" step="1" value="50" snaps="true" pin="true" color="warning">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </div>

</ion-content>